/* css reset */
body{
    font-family: 'Balsamiq Sans';
    margin: 0px;
    padding: 0px;
    background:url("../img/background.jpg");
    /* height: auto;
    width: 1080px; */

}
.left{
   
    /* border: 2px solid black; */
    display: inline-block;
    position:absolute;
    left: 10px;
    top: 10px;
}
.left img{
    width: 100px;
    height: 50px;
    
}
.left div{
    
    text-align: center;
    font-size: 10px;
    color: aliceblue;
}
.mid{
    /* border: 2px solid black; */
    display: block;
    margin: 10px auto;
    width: 50%;

}
.right{
    /* border: 2px solid black; */
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 10px;

}
.navbar{
    display: inline-block;
}
.navbar li{
    display: inline-block;
    font-size: 22px;
}
.navbar li a{
    color: white;
    text-decoration: none;
    padding: 10px 10px;
}
.navbar li a:hover{
    
    color: gray;
}
.btn{
    font-family: 'Balsamiq Sans';
    border-radius: 3px;
    border: 1px solid aliceblue;
    padding: 5px;
    background-color: black;
    color: aliceblue;
    cursor: pointer;

}
.btn:hover{
    background-color: gray;
}
.container{
    border: 2px solid aliceblue;
    color: aliceblue;
    text-align: center;
    height: 380px;
    width: 350px;
    margin: 30px;
    margin-top: 100px;
    margin-left: 60px;
    padding: 20px 20px;
    border-radius: 10px;
}
.form-group input{
    text-align: center;
    display: block;
    margin: 20px auto;
    padding: 2px;
    font-family:'Balsamiq Sans' ;
    font-size: 16px;
    width: 250px;
    
}
.container button{
    display: block;
    margin: auto;
    width: 258px;
    border-radius: 3px;
    padding: 5px;
    font-size: 16px;
}
